<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Pappu Gas Services</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>
	<div class="main_body">
	<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
			<%= yield %>
	</div>
	<div class="footer text-center">
		<%= render 'layouts/footer' %>
	</div>
	

</body>
</html>
